@{
    ViewBag.Title = "AddText";
    Layout = "~/Views/Layout/Layout.cshtml";
    var imgtextlist = ViewBag.imgtextlist as List<CompanyModel.Material>;
}
<link href="/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="~/Content/css/imagetext.css" rel="stylesheet">
<script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
<script src="/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>文本回复添加</h5>
            <a style="float:right" onclick="sub()">提交</a>
        </div>
        <div class="ibox-content">
            <form action="" id="myform" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">规则名称</label>
                    <div class="col-sm-10"><input type="text" id="title" class="form-control" value=""></div>
                </div>

                
                 <div class="form-group">
                    <label class="col-sm-2 control-label">关键词(多个用，分隔)</label>
                    <div class="col-sm-10"><input type="text" id="keys" class="form-control" value=""></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">关键词类型</label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" id="searchtype">

                            <option value="0">包含匹配</option>
                            <option value="1">完整匹配</option>


                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">选择图文</label>
                    <div class="col-sm-10">
                        <form action="/Reply/AddImageText" id="myform" method="get" >
                            <p>
                                图文名称:  <input type="text"  name="title" value="" />
                                <input type="submit" value="搜索" />
                            </p>
                        </form>
                            @{
                                foreach (var item in imgtextlist)
                                {
                                    <li style="float:left;list-style:none;width:33%">
                                        <input type="radio" value="@item.id" name="resid">@item.title

                                    </li>


                                }
                            }

                            <div style="clear:left;">
                                @{Html.RenderPartial("../Layout/_Pager", ViewData);}
                            </div>
</div>
                 

            </form>
        </div>
    </div>
</div>
<script>
  
    function sub() {
        var keys = $("#keys").val();
        var contents = $("#contents").val();
        var searchtype = $("#searchtype").val();
        var title = $("#title").val();
        var resid = $('input[name="resid"]:checked').val();
        $.post("/Reply/AddReply", { "title":title,"keys": keys, "contents": contents, "searchtype": searchtype, "resid": resid, "type": "@(CompanyModel.Types.ImageText)" }, function (data) {
      
            if (data.Result) {
                swal("Success!", data.Msg, "success");
                window.location.href = "/Reply/Index?type=@CompanyModel.Types.ImageText";

            } else {
                swal("Success!", data.Msg, "error");
            }
        });
    }
   
</script>
