 .mc_card_wrap .video_unit {
        width: auto;
        margin-right: 0;
    }

    .video_unit {
        position: relative;
        width: 358px;
        padding: 10px 0;
        border: 1px solid #c2c2c2;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }

        .video_date, .video_unit .video_title {
            padding: 0 10px 10px;
            word-break: break-all;
            word-wrap: break-word;
        }

        .video_unit .video_image {
            margin: 0 10px;
            position: relative;
            margin-bottom: 10px;
            display: block;
            text-decoration: none;
            border: 1px solid #ccc;
            cursor: pointer;
        }

            .safeFile_unit .image_edit_placeholder, .video_unit .video_image .image_edit_placeholder {
                height: 190px;
                width: 100%;
                text-align: center;
                background-color: #eee;
                color: #777;
            }

                .safeFile_unit .image_edit_placeholder .placeholder_text, .video_unit .video_image .image_edit_placeholder .placeholder_text {
                    display: inline-block;
                    line-height: 2;
                    vertical-align: middle;
                }

                .safeFile_unit .image_edit_placeholder .placeholder_vertical, .video_unit .video_image .image_edit_placeholder .placeholder_vertical {
                    vertical-align: middle;
                    display: inline-block;
                    height: 190px;
                }

        .video_unit .video_detail {
            padding: 0 10px;
            color: #777;
            word-break: break-word;
            white-space: normal;
        }

    .video_artical_add {
        display: block;
        border-top: 1px solid #e5e5e5;
        position: relative;
        height: 80px;
    }

    .video_artical_add_button {
        border: 1px dashed #eee;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 0;
        text-align: center;
    }

        .video_artical_add_button .icon_mc_add, .video_artical_add_button .icon_message_new {
            margin-top: 24px;
        }

    .icon_message_new {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(https://res.wx.qq.com/mmocbiz/zh_CN/tmt/pc/dist/sprite/style-old-message_b375d88c.png);
        background-position: -51px -20px;
    }

    .video_unit .video_image_wrap {
        width: 100%;
        overflow: hidden;
        height: 190px;
    }

    .video_artical {
        display: block;
        padding: 0 10px;
        color: #222;
        border-top: 1px solid #e5e5e5;
        position: relative;
        min-height: 99px;
        cursor: pointer;
    }

    .video_unit .video_artical.active .choose_mode_style, .video_unit .video_image.active .choose_mode_style {
        border: 2px solid #4a90e2;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .video_unit .video_artical .choose_mode_style {
        top: -1px;
        bottom: 0;
        left: -1px;
        right: -1px;
    }

    .video_unit .choose_mode_style {
        position: absolute;
        left: -12px;
        top: -11px;
        bottom: -11px;
        right: -12px;
        border: 2px solid transparent;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .video_unit .video_artical .image_edit_placeholder {
        position: absolute;
        right: 10px;
        top: 9px;
        height: 80px;
        width: 80px;
        background-color: #eee;
    }

    .video_artical_title {
        padding-right: 90px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 20px;
        max-height: 80px;
        display: inline-block;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-break: break-all;
        overflow: hidden;
    }

    .video_vertical {
        vertical-align: middle;
        display: block;
    }

    .video_artical_option {
        opacity: 0;
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        transition: all .1s ease-in;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        filter: alpha(opacity=40)\0;
        background-color: rgba(34,37,40,.4);
        background-color: #222528\0;
        z-index: 2;
    }

    .video_artical {
        display: block;
        padding: 0 10px;
        color: #222;
        border-top: 1px solid #e5e5e5;
        position: relative;
        min-height: 99px;
        cursor: pointer;
    }

    .video_artical_option .icon_message_moveUp {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .icon_message_moveUp {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(https://res.wx.qq.com/mmocbiz/zh_CN/tmt/pc/dist/sprite/style-old-message_b375d88c.png);
        background-position: 0 -30px;
    }

    .icon_message_delete {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(https://res.wx.qq.com/mmocbiz/zh_CN/tmt/pc/dist/sprite/style-old-message_b375d88c.png);
        background-position: -51px 0;
    }

    .video_artical_option .icon_message_delete {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .video_sub_title {
        padding-left: 10px;
        position: absolute;
        left: -1px;
        right: -1px;
        height: 40px;
        bottom: -1px;
        line-height: 40px;
        color: #fff;
        background-color: #000;
        opacity: .5;
        filter: alpha(opacity=50);
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 0 0px;
    }

    .video_artical_img {
        position: absolute;
        height: 80px;
        width: 80px;
        border: none;
    }