body {
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

.rich_media {
    position: relative;
}

.rich_media {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.not_in_mm .rich_media_inner {
    position: relative;
}

.not_in_mm .rich_media_inner {
    position: relative;
}

.rich_media_inner {
    padding: 20px;
}

rich_media_area_primary {
    position: relative;
    padding: 20px 15px 15px;
    background-color: #fff;
}

.rich_media_title {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb;
}

.rich_media_title {
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px;
}

.rich_media_meta_list {
    position: relative;
    z-index: 1;
}

.rich_media_meta_list {
    margin-bottom: 18px;
    line-height: 20px;
    font-size: 0;
}

    .rich_media_meta_list em {
        font-style: normal;
    }

.rich_media_meta {
    max-width: none;
}

.rich_media_meta_text {
    color: #8c8c8c;
}

.rich_media_meta {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

.rich_media_content {
    position: relative;
}

.rich_media_content {
    min-height: 350px;
}

.rich_media_content {
    overflow: hidden;
    color: #3e3e3e;
}
