.empty_placeholder_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -100px;
    width: 150px;
    text-align: center;
}
.empty_placeholder_message .icon_empty_placeholder {
    background-image: url(/Content/images/icon-library-message_c01e3a6d.png);
}
.empty_placeholder_text {
    font-size: 16px;
    margin-top: 20px;
    color: #96989B;
}
.icon_empty_placeholder {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.textdiv {
    padding:20px;
}
.message_items_material_file, .message_items_material_picture, .message_items_material_video, .message_items_material_voice, .message_items_material_word, .message_items_record, .message_items_userMsg {
    position: absolute;
    left: 0;
    right: 0;
    top: 84px;
    bottom: 0;
    overflow: auto;
}
.message_items_material_file, .message_items_material_picture, .message_items_material_video {
    padding: 18px 0 18px 0px;
}
