@{
    ViewBag.Title = "UpdatePassWord";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<link href="~/Content/css/mytab.css" rel="stylesheet">
<link href="~/Content/css/tabtext.css" rel="stylesheet">
<link href="/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
<script src="/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>修改密码</h5>
    </div>
    <div class="ibox-content">
        @*<form id="f" action="home/UpdatePassWord" method="post" class="form-horizontal" enctype="multipart/form-data">*@
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">旧密码</label>
                <div class="col-sm-10">
                    <input class="easyui-passwordbox easyui-validatebox passwordbox-f textbox-f validatebox-text validatebox-invalid" value="" data-options="required:true" textboxname="old_one" style="display: none;"><span class="textbox textbox-invalid" style="width: 177px;"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 25px;"></a></span><input id="_easyui_textbox_input1" type="password" class="textbox-text validatebox-text validatebox-invalid textbox-prompt" autocomplete="off" tabindex="" placeholder="" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 25px; line-height: 25px; width: 157px;"><input type="hidden" class="textbox-value passwordbox-f textbox-f" value="" textboxname="old_one" style="display: none;"><span class="textbox"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 0px;"></a></span><input id="_easyui_textbox_input4" type="hidden" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" tabindex="" placeholder="Password" value="Password" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 0px; line-height: 0px; width: 0px;"><input type="hidden" class="textbox-value" name="old_one" value=""></span></span>
                </div>
            </div>
            <div class="form-group">
                <label id="newPass" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input class="easyui-passwordbox easyui-validatebox passwordbox-f textbox-f validatebox-text validatebox-invalid" value="" data-options="required:true" textboxname="new_one" style="display: none;"><span class="textbox textbox-invalid" style="width: 177px;"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 25px;"></a></span><input id="_easyui_textbox_input2" type="password" class="textbox-text validatebox-text validatebox-invalid textbox-prompt" autocomplete="off" tabindex="" placeholder="" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 25px; line-height: 25px; width: 157px;"><input type="hidden" class="textbox-value passwordbox-f textbox-f" value="" textboxname="new_one" style="display: none;"><span class="textbox"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 0px;"></a></span><input id="_easyui_textbox_input5" type="hidden" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" tabindex="" placeholder="Password" value="Password" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 0px; line-height: 0px; width: 0px;"><input type="hidden" class="textbox-value" name="new_one" value=""></span></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">重复密码</label>
                <div class="col-sm-10">
                    <input class="easyui-passwordbox easyui-validatebox passwordbox-f textbox-f validatebox-text validatebox-invalid" value="" required="required" textboxname="repeat_one" style="display: none;"><span class="textbox textbox-invalid" style="width: 177px;"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 25px;"></a></span><input id="_easyui_textbox_input3" type="password" class="textbox-text validatebox-text validatebox-invalid textbox-prompt" autocomplete="off" tabindex="" placeholder="" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 25px; line-height: 25px; width: 157px;"><input type="hidden" class="textbox-value passwordbox-f textbox-f" value="" textboxname="repeat_one" style="display: none;"><span class="textbox"><span class="textbox-addon textbox-addon-right" style="right: 0px; top: 0px;"><a href="javascript:void(0)" class="textbox-icon passwordbox-open" icon-index="0" tabindex="-1" style="width: 18px; height: 0px;"></a></span><input id="_easyui_textbox_input6" type="hidden" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" tabindex="" placeholder="Password" value="Password" style="text-align: start; margin: 0px 18px 0px 0px; padding-top: 0px; padding-bottom: 0px; height: 0px; line-height: 0px; width: 0px;"><input type="hidden" class="textbox-value" name="repeat_one" value=""></span></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-white" onclick="javascript:window.history.back()">取消</button>
                    <button class="btn btn-primary" id="submit">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-2.1.1.js"></script>
<script>
    $(function () {
        $("#submit").click(function () {

            var oldPass = $("#_easyui_textbox_input1").val();
            var newPass = $("#_easyui_textbox_input2").val();
            var newPass2 = $("#_easyui_textbox_input3").val();
            if (oldPass == "") {
                swal("Error!", "请输入原密码！");
            } else if (newPass == "") {
                swal("Error!", "请输入新密码！");
            } else if (newPass2 == "") {
                swal("Error!", "请再次输入新密码,请确认！");
            } else if (newPass != newPass2) {
                swal("Error!", "两次输入的密码不一致,请确认！");
            } else {
                //验证旧密码，如果旧密码通过，则直接修改，否则返回相关信息
                $.post("/Home/UpdatePassWord", { "oldPass": oldPass, "newPass": newPass },
                    function (data) {
                        if (data == 0) {
                            swal("Success!", "密码修改成功！");
                            window.location.href = "/Home/Index";
                        } else if (data == -1) {
                            swal("Error!", "原密码错误，请确认！");
                        } else if (data == 1) {
                            swal("Error!", "发生未知错误，密码修改失败！");
                        }
                    });
            }

        });
    })
</script>
