@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
    var list = ViewBag.list as List<CompanyModel.Material>;
}
<link href="~/Content/css/mytab.css" rel="stylesheet">
<link href="~/Content/css/tabtext.css" rel="stylesheet">
<link href="/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
<script src="/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/Content/FileUpload/css/jquery.fileupload.css" />
<form class="toolbar_search_form toolbar_search_form_center js_search_form" action="/Material/Video" style="display: inline-block;">
    <input type="text" class="input_text js_search_input" name="key" style="width:200px;">
    <input type="submit" class="button" value="搜索" />
</form>
<div class="message_view js_material_view">
    <div class="message_list">
        <div class="message_bar" style="padding: 0 10px;">
            <div class="float-right js_create">
            
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加素材</span>

                    <input id="fileupload" type="file" name="imgFile" multiple>
                </span>

            
            </div>
            <ul class="js_toolbar message_filetype_items">
                <li data-type="text" ><a href="/Material/Index">文字</a></li>
                <li data-type="image" class=""><a href="/Material/Pic">图片</a></li>
                <li data-type="audio" class=""><a href="/Material/Voice" class="active">语音</a></li>
                <li data-type="video" class="active"><a href="/Material/Video">视频</a></li>
                <li data-type="article" class=""><a href="/Material/ImageText">图文</a></li>
                <li data-type="file" class=""><a href="/Material/File">文件</a></li>
         
            </ul>
        </div>

        <div class="col-lg-12">
            @{
                foreach (var item in list)
                {
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                            
                                <video id="" class="vjs-tech" poster="" width="336" height="190"
                                       src="@item.topimg" preload="auto" controls=""></video>
                             
                                <div class="file-name">
                                    @item.contents
                                    <br>
                                    <small>@SRX.Common.StringHelper.todate(item.createtime)</small>
                                </div>
                                <div>
                                    <p style="text-align:right;padding-right:10px;"><a class="delete" data-id="@item.id">删除</a></p>
                                </div>
                            </a>
                        </div>

                    </div>
                }
            }

           


        </div>
        <div class="pagelist">
            @{Html.RenderPartial("../Layout/_Pager", ViewData);}

        </div>
    </div>
</div>
<script src="~/Content/FileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Content/FileUpload/js/jquery.iframe-transport.js"></script>
<script src="~/Content/FileUpload/js/jquery.fileupload.js"></script>
<script>
    $(function () {
        'use strict';
        var url = "/Ashx/upload.ashx?p=video";
        $('#fileupload').fileupload({
            autoUpload: true,//是否自动上传
            url: url,
            dataType: 'json',
            done: function (e, data) {
                // message
                console.log(data.result);
                if (data.result.error == 1) {
                    swal("上传出错了!", data.result.message, "success");
                } else {

                    $.post("/Material/AddVideo", { contents: data.result.filename,topimg:data.result.url }, function (data) {
                        if (data.Result) {
                            swal("Success!", data.Msg, "success");
                            window.location.href = "/Material/Video";

                        } else {
                            swal("Success!", data.Msg, "success");
                        }
                    });

                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');


        //$(".delete").click(function () {
        //    var id =$(this).data("id");
        //    swal({
        //        title: "确定要删除吗?",
        //        text: "",
        //        type: "warning",
        //        showCancelButton: true,
        //        confirmButtonColor: "#DD6B55",
        //        confirmButtonText: "是",
        //        closeOnConfirm: false
        //    }, function () {
        //        ids = ids.substring(0, ids.length - 1);
        //        $.post("/Material/DelVideo", { "id": id }, function (data) {
        //            if (data.Result) {
        //                swal("Deleted!", "已删除", "success");
        //                window.location.reload();//刷新当前页面.
        //            } else {
        //                swal("Deleted!", "系统异常", "success");
        //            }
        //        });

        //    });


        //}

        });
    
</script>